@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
fieldset{
    border: 0;
}
table {
    border-collapse: collapse;
}
caption {
    position: absolute;
    left: 9999em;
}
h1 {
    background-color: rgb(255, 147, 165);
    margin-top: 30px;
    text-align: center;
    border: 1px dotted gray;
    width: 800px;
    margin: 10px auto;
}
body {
    font-family: "나눔고딕", "Nanum Gothic", "sans-serif";
    font-size: 16px;
    color: #333;
}
#join_wrap {
    width: 800px;
    margin: 0 auto;
}
#join_wrap .title {
    padding: 50px 0 20px;
    font-size: 1.5em;
    font-weight: 700;
}
.joinTable th, .joinTable td{
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px dotted #ddd;
}
.joinTable th {
    width: 180px;
    text-align: left;
    background-color: pink
}
.joinTable td {
    width: 620px;
}
.joinTable .first {
    border-top: 2px solid #333;
}
.joinTable .textForm {
    width: 420px;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    box-sizing: border-box;
}
.joinTable .btn{
    width: 80px;
    height: 42px;
    background-color: palevioletred;
    border: 0;
    border-radius: 5px;
    color: #fff;
}
.joinTable .textarea {
    width: 420px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.btn_area {
    text-align: center;
    margin: 30px 0;
}
.btn_area button {
    width: 150px;
    height: 50px;
    margin: 0 10px;
    border: 0;
    font-size: 20px;
}
.btn_area .btn_join {
    background-color: palevioletred;
    color: #ddd;
    border-radius: 10px;
}
.btn_area .btn_cancel {
    /* background-color: palevioletred; */
    border: 1px solid gray;
    color: black;
    border-radius: 10px;
}